<!-- Application Header -->
<app-header></app-header>

<!--  Main Content Area -->
<main class="main">
  <!-- User List -->
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <!-- 👤 User Component -->
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>

  <!--  Tasks Section: Display only if a user is selected -->
  @if (selectedUser) {
  <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id" />
  }
</main>
